@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body{
	font-family: 'Lato', sans-serif;
}



.login{
	background-color: #f19300;
	color: #fff;
	padding: 7px 0;
}

	.login a{
		color: #fff;
	}

	.login a:hover{
		color: #6D1E3F;
	}


	.login .row{
		margin-bottom: 0 !important;
	}


.nombre-usuario{
	text-align: center;
}

.puntos-disponibles{
	background-color: #6D1E3F;
	padding: 3px 10px;
	color: #fff;
	border-radius: 20px;
	text-align: center;
	display: -webkit-inline-box;
}


@media (max-width: 690px) {
  .puntos-disponibles{
  		display: block;
  		margin: 5px 0 15px 0;
	}

	.nombre-usuario{
		display: block;
	}
}

.carrito-compra{
	background-color: #6D1E3F;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
	margin-top: 15px;
}

.carrito-compra a{
	color: #fff;
}
 

#cantidad-carrito{
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    display: table-caption;
}


.btn-salir{
	background-color: #dd7e00;
	padding: 3px 20px;
	border-radius: 20px;
	display: -webkit-inline-box;
	float: right;
}

.btn-salir:hover{
	background-color: #b76400;
	color: #fff;
}


.btn-verde{
	background-color: #006837;
	padding: 3px 20px;
	border-radius: 20px;
	display: -webkit-inline-box;
	float: right;
	margin-left: 20px;
}

	.btn-verde:hover{
		background-color: #024925;
		color: #fff;
	}


.btn-violeta{
	background-color: #6D1E3F;
	padding: 3px 20px;
	border-radius: 20px;
	display: -webkit-inline-box;
	float: right;
	margin-left: 20px;
}

	.btn-violeta:hover{
		background-color: #4C122D;
		color: #fff;
	}

.btn{
	height: auto !important;
	line-height:normal !important;
}

.box-gris{
	background-color: #f2f2f2;
	padding: 5px;
	border-radius: 20px;
	margin: 15px 0 0 0;
	width: 100%;
}

.bg-form{
	background-color: #f2f2f2;
	padding: 15px !important;
	border-radius: 20px;
	margin: 15px 0 0 0;
}



.franja{
	background-image: url('../../img/franja.png');
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.titulos{
	color: #2E7D32;
}

.header-club input[type=text]:not(.browser-default){
height: 2.4rem !important;
margin: 0 !important;
}

/*CLUB*/
.enlanceClub:hover{
	text-decoration:none !important;
}

.saludoUsuario{
	font-weight: bold;
	font-size: 14px;
}


.box-session-club{
	background-color: #f19300;
	padding: 10px;
	color: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}




.box-session-verde{
	background-color: #006837;
	padding: 5px;
	color: #fff;
	border-radius: 10px;
	margin-top: 10px;
	text-align: center;
	display: -webkit-inline-box;
}

/*.box-session-verde:hover{
	background-color: #dd7e00;
}*/


.box-session-verde a{
	color: #fff;
}

@media (max-width: 992px) {
  .box-session-club,
  .box-session-verde {
	  border-radius: 10px;
	  margin-top: 15px;
	  width: 100%;

}

}
.box-session-club a{
	color: #fff;
}


.cantidad-puntos{
	display: table;
	position: relative;
}
.puntos-header{
	background-color: #6d1e3f;
	color: #fff;
	border-radius: 100px;
	padding: 10px;
	margin:20px 10% 10% 0;
	width: 100%;
	height: 110px;
}

.header-club{
	/*padding-bottom:25px;*/
}


#premios h2,
#enterate h2,
#donde-comprar h2, 
#productos h2{
	color: #12491d;
	font-weight: 300 !important;
	text-transform: uppercase;
}

#preguntas-frecuentes h2{
	color: #fff;
	font-weight: 300 !important;
	text-transform: uppercase;
}

.card-title{
	text-align: center;
	line-height: 25px !important;
}

#enterate{
	background-color: #f2f2f2;
	padding: 25px 0;
}

#preguntas-frecuentes{
	background-color: #6d1e3f;
	padding: 25px 0;
}


#preguntas-frecuentes p{
	color: #fff !important;
	    font-size: 1.48rem;
}


.box-blanca{
	background-color: #fff;
	padding: 25px;
	border-radius: 25px;
}

.page-footer {
	background-color: #520d2a;
	color: #fff;
}


.page-footer a{
	color: #fff;
}

.footer-copyright{
	background-color: #3c061c !important;
}

.redes-sociales {
    margin-top: 15px;
}

.redes-sociales span {
    margin-right: 25px;
}

.redes-sociales i {
    background-color: #ee7e1c;
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
}

@media (max-width: 767px) {
    .redes-sociales {
        text-align: center;
        margin: 25px 0px 15px 0;
    }
}

.autor{
	margin-top: 15px;
}

/* END CLUB*/


/*PRODUCTOS*/

.padding-full{
	padding: 30px;
}

.material-placeholder img{
	border:double 1px #e2e2e2;
}