body{
	border-top: 5px solid #006837;
}

.franja{
	background-image: url('../../img/franja.png');
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/*CLUB*/
.enlanceClub:hover{
	text-decoration:none !important;
}

.saludoUsuario{
	font-weight: bold;
	font-size: 14px;
}


.box-session-club{
	background-color: #f19300;
	padding: 10px;
	color: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 80%;
}

.box-session-verde{
	background-color: #006837;
	padding: 10px;
	color: #fff;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.box-session-verde:hover{
	background-color: #dd7e00;
}


.box-session-verde a{
	color: #fff;
}

@media (max-width: 992px) {
  .box-session-club,
  .box-session-verde {
	  border-radius: 10px;
	  margin-top: 15px;
	  width: 100%;

}

}
.box-session-club a{
	color: #fff;
}

.btn-salir{
	background-color: #dd7e00;
	padding: 5px;
	border-radius: 20px;
}

.btn-salir:hover{
	background-color: #b76400;
}
.cantidad-puntos{
	display: table;
	position: relative;
}
.puntos-header{
	background-color: #6d1e3f;
	color: #fff;
	border-radius: 100px;
	padding: 10px;
	margin:20px 10% 10% 0;
	width: 100%;
	height: 110px;
}

.header-club{
	padding-bottom:25px;
}



/* END CLUB*/